*{
    margin: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
}

/*cabeçalho*/
header{
    padding: px 0;
    background-color: #1e3880;
    color: #ecf0f1;
    font-family: 'Chakra Petch', sans-serif;
}

header img{
    height: 150px;
}

/*MENU*/

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

/*TEXTO DO MENU*/
header nav li a{
    color: #ecf0f1;  
    text-decoration: none;
    font-size: larger;
}

/*CONTAINER*/
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto
}

.container{
    width: 1366px;
    margin:0 auto;
}

/*CONTAINER*/
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: flex-start;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
}

.articles article img{
/*height:180px*/
width:100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

#SobreaSérie img{
height: 300px;
width: fit-content;
align-items: center;
padding: 15px;
margin: 10px;
}

#SobreaSérie article{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

#jogos .articles a,
#personagens article a{ 
    text-decoration: none;
    justify-content: space-between;  
    text-align: center;
    font-size:large;
    color: #01050f;
    cursor: pointer;
}

#jogos .articles a,
#personagens article a:hover{ 
    text-decoration: none;
    text-align: center;
    font-size:larger;
    color: #0b2d83;
    cursor: pointer;
}


#personagens img,
#jogos img{
    height: 300px;
    width: fit-content;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

#personagens .articles article,
#jogos .articles article{
    width: 25%;
}

/*Tamanho imagens Social Links*/

.social-links img{
    height: 24px;
}

/*Ordenando Formulário*/

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 600px;
    margin-bottom: 8px;
    padding: 8px
}

form textarea{
    resize: none;
    height: 180px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: #182c61;
    color:#ecf0f1;
    border:none;
    cursor: pointer;
}

form button:hover{
    background-color: #314e9e;
}

input:focus, textarea{
    outline-color:#182c61
}

/*RODAPÉ*/

footer{
    background-color: #182c61;
    color:#ecf0f1;
    padding: 16px 0;

}

ul{
    list-style-type: none;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    background-color: #182c61;
    color:#ecf0f1;
    border:#314e9e;
    padding-left: 10px;
}

h2{
    font-family: 'Chakra Petch', sans-serif;
    background-color: #304d9c;
    color:#ecf0f1;
    border:#84a1f3;
    text-align: center;
}

section{
    padding-top: 0px;
    padding-bottom: 0px;
}

